@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
